/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables*/
:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
}
.debug {
    border: 1px solid red;
}

/*Utilities*/
/*Flex*/
.d-flex {
    display: flex;
}

.f-dir-column {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.f-wrap {
    flex-wrap: wrap;
}

.a-it-center{
    align-items: center;
}

.a-it-flex-end{
    align-items: flex-end;
}
.jc-end{
    justify-content:flex-end;
}

/*Selectors*/
body{
    font-family: "Montserrat", sans-serif;
    background-color: #282828;
    color: var(--color-light);
}

footer{
    background-color: var(--color-darkgrey);
    color: white;
    height: 80px;
    position: sticky;
    bottom: 0;
}
ul{
    list-style: none;
}


/*ID Selectors*/
#sidebar{
    background-color: #000000;
    color: white;
    height: 100vh;
    width: 230px;
}
#mainbar{
    width: calc(100% - 230px);
    background-color: var(--color-dark);
}

#mainpage{
    height: calc(100% - 140px);
    overflow-y: scroll;
}
#logo{
    height: 70px;
    display: flex;
    align-items: center;
    padding-left:15px;
}
#logo img{
    height: 75%;
}
#icons img{
   width: 35px;
}
#sidebar span{
    font-weight: 800;
}
#white span{
    color:white;
}
#white img{
    filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(134deg) brightness(99%) contrast(103%);
}
#grey span{
    color:#a3a3a3;
}
#sidebar ul li{
    color: #a3a3a3;
    font-weight: 800;
}
#sidebar ul{
    gap: 10px;
}
#endsidebar{
    height: 35%;
    display: flex;
    align-items: end;
}

/*Classes*/
.header{
    background-color: black;
    opacity: 60%;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
}

.grey{
    filter:invert(58%) sepia(98%) saturate(1%) hue-rotate(350deg) brightness(91%) contrast(99%);
}
.padding{
    padding: 5px;
}
.plus{
    background-color: #a3a3a3;
    color: black;
    padding: 8px;
}
.white{
    color: white;
}
.height70px{
    height: 70px;
}
.btn{
    margin-right: 20px;
    background-color: black;
    color: white;
    border-style: groove;
    padding: 10px 50px;
    border-radius: 20px;
}