/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables*/
:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
}
.debug {
    border: 1px solid red;
}

/*Utilities*/
/*Flex*/
.d-flex {
    display: flex;
}

.f-dir-column {
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.f-wrap {
    flex-wrap: wrap;
}

.a-it-center{
    align-items: center;
}

/*Selectors*/
body{
    font-family: "Montserrat", sans-serif;
    background-color: #282828;
    color: var(--color-light);
}

footer{
    background-color: var(--color-darkgrey);
    color: white;
    height: 80px;
    position: sticky;
    bottom: 0;
}

/*ID Selectors*/
#sidebar{
    background-color: #000000;
    color: white;
    height: 100vh;
    width: 230px;
}
#mainbar{
    width: calc(100% - 230px);
    background-color: var(--color-dark);
}

#mainpage{
    height: calc(100% - 60px);
}
#logo{
    height: 70px;
    display: flex;
    align-items: center;
    padding-left:15px;
}

#logo img{
    height: 75%;
}
#icons img{
   width: 35px;
}
#sidebar span{
    font-weight: 800;
}
#white span{
    color:white;
}
#grey span{
    color:#808080;
}
/*Classes*/
.header{
    background-color: black;
    opacity: 60%;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
}

.grey{
    filter:invert(55%) sepia(0%) saturate(271%) hue-rotate(178deg) brightness(91%) contrast(84%);
}